<div
  class="relative overflow-hidden  bg-cover bg-no-repeat p-12 text-center"
  style="background-image: url('https://static.wixstatic.com/media/11062b_55906a26a459489aafcb707141ec95c9~mv2.jpg/v1/fill/w_1376,h_238,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_55906a26a459489aafcb707141ec95c9~mv2.jpg'); height: 250px">
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
    style="background-color: rgba(49, 43, 133, 0.6)">
    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <h2 class="mb-4 text-4xl font-semibold">Política de privacidad</h2>
      </div>
    </div>
  </div>
</div>
