---
import Container from "../Container.astro"
---
<div class="pt-10">
    <Container>
        <div class="pt-10 pb-10 flex flex-col gap-7">
            <div >
                <h4 class="font-bold text-balance ">Política Privacidade</h4>
                <div class="pt-5 pb-4">
                    <p class="font-light">
                    A sua privacidade é importante para nós. É política do Unifica Design respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site Unifica Design, e outros sites que possuímos e operamos.
                    </p>
                    <br/>
                    <p class="font-light">
                        Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.
                    </p>
                    <br/>
                    <p class="font-light">
                        Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.
                    </p>
                    <br/>
                    <p class="font-light">
                        Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.
                    </p>
                    <br/>
                    <p class="font-light">
                        O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade.
                    </p>
                    <br/>
                    <p class="font-light">
                        Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.
                    </p>
                    <br/>
                    <p class="font-light">
                        O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto connosco.
                    </p>
                </div>
                <div style="padding-inline-start: 50px;">
                    <ol class="ps-5 mt-2 space-y-1 list-disc list-inside">
                        <li class="font-light">O serviço Google AdSense que usamos para veicular publicidade usa um cookie DoubleClick para veicular anúncios mais relevantes em toda a Web e limitar o número de vezes que um determinado anúncio é exibido para você.</li>
                        <li class="font-light">Para mais informações sobre o Google AdSense, consulte as FAQs oficiais sobre privacidade do Google AdSense.</li>
                        <li class="font-light">Utilizamos anúncios para compensar os custos de funcionamento deste site e fornecer financiamento para futuros desenvolvimentos. Os cookies de publicidade comportamental usados ​​por este site foram projetados para garantir que você forneça os anúncios mais relevantes sempre que possível, rastreando anonimamente seus interesses e apresentando coisas semelhantes que possam ser do seu interesse.</li>
                        <li class="font-light">Vários parceiros anunciam em nosso nome e os cookies de rastreamento de afiliados simplesmente nos permitem ver se nossos clientes acessaram o site através de um dos sites de nossos parceiros, para que possamos creditá-los adequadamente e, quando aplicável, permitir que nossos parceiros afiliados ofereçam qualquer promoção que pode fornecê-lo para fazer uma compra.</li>
                    </ol>
                </div>
                <h4 class="font-bold text-balance  pt-5">Compromisso do Usuário</h4>
                <div class="pt-1 pb-4">
                    <p class="font-light">
                        O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o Unifica Design oferece no site e com caráter enunciativo, mas não limitativo:
                    </p>
                </div>
                <div style="padding-inline-start: 50px;">
                    <ol class="ps-5 mt-2 space-y-1 ">
                        <li class="font-light">A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública</li>
                        <li class="font-light">B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, betano apostas ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</li>
                        <li class="font-light">C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do Unifica Design, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</li>
                    </ol>
                </div>
                <h4 class="font-bold text-balance  pt-5">Mais informações</h4>
                <div class="pt-5 pb-4">
                    <p class="font-light">
                        Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.
                    </p>
                </div>
            </div>
            <div class=" pt-16">
                <div class="p-11  flex items-center justify-center ">
                    <img src="public/img/Assinatura_1.webp" alt="Assinatura_1.png" >
                </div>
            </div>
        </div>
    </Container>
    <div class="relative  overflow-hidden p-12 text-center" style="background-color: rgb(241, 241, 241); background-image: linear-gradient(rgba(255, 255, 255, 0.774), rgba(255, 255, 255, 0.781)), url('https://static.wixstatic.com/media/43b45bfaba6b49f488fd3947d68710b2.png/v1/crop/x_0,y_0,w_200,h_200,q_85,enc_auto/43b45bfaba6b49f488fd3947d68710b2.png');">
        <Container>
            <div class="grid grid-cols-2 gap-2">
                <div class="flex flex-col justify-center items-center">
                    <div class="m-16">
                        <h4 class="font-bold text-balance ">
                            Política de reembolsos y devoluciones</h4>
                        <div class="pt-5 pb-4">
                            <p class="font-light">
                                Tiene derecho a cancelar su pedido dentro de los 30 días si su servicio no se ha llevado a cabo dentro del período establecido por nosotros en un acuerdo anterior. Puede solicitar un reembolso si el servicio también es cancelado por nosotros. En el caso de que nuestra Agencia no pueda llevar a cabo y esto se indique claramente, también procederemos con su reembolso completo a través de Pix, depósito bancario o contracargo en su tarjeta de crédito.
                            </p>
                            <br/>
                            <p class="font-light">
                                Para ejercer su derecho de cancelación, debe comunicarnos su decisión mediante una declaración clara que explique el motivo y el motivo del reembolso.
                            </p>
                            <br>
                            <p class="font-light">
                                Puede informarnos de su decisión a través del correo electrónico info@unificadesign.com
                                Le reembolsaremos en un plazo de 30 días a partir del día en que recibamos el motivo de la cancelación. Usaremos el mismo método de pago que usó para el pedido y no incurrirá en ningún cargo por este reembolso.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="m-16">
                        <h4 class="font-bold text-balance ">Política de tiempo de entrega</h4>
                        <div class="pt-5 pb-4">
                            <p class="font-light">
                                Siempre estipularemos con el cliente un tiempo de entrega adecuado del producto, servicio o solución digital, incluso antes de realizar el pago para que ambas partes estén totalmente de acuerdo con las expectativas de entrega.
                            </p>
                            <br/>
                            <p class="font-light">
                                En caso de incumplimiento de los plazos de entrega finales estipulados (fecha límite), el cliente tiene pleno derecho a presentar una solicitud de reembolso.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </Container>
    </div>
</div>