---
import Container from "../Container.astro"
---

<section class="bg-secondary">
    <Container>
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-white">HABLE CON NOSOTROS</h2>
            <iframe src="https://odoo.unificadesign.com.py/contact-form-lead" height="450" width="100%" title="form unifica desing"></iframe>

        </div>
    </Container>
</section>