---
import Container from "../Container.astro"
import Button from "../../components/Buttons/Button.astro"
---

<Container>
    <section class="pt-8" id="studi-web">
        <div>
            <div class="h-full pt-8">
                    <div class="relative pt-6 bg-cover bg-[50%] h-[56rem] sm:h-[36rem] bg-no-repeat  bottom-10 md:bottom-0 ">
                        <div class="flex justify-center items-center h-full bg-fixed opacity-15 image-container">
                            <img
                            src="/img/studio_web_section/bg_igm.webp"
                            class=" width-[505px] height-[505px] object-cover masked-bg" 
                            alt="background studio"
                            />
                        </div>
                    <div
                      class="absolute z-10 bottom-0 left-0 right-0 top-0 w-full  bg-fixed h-full"
                      >
                      <div class="container flex flex-col h-full justify-end items-center  pt-5 gap-8 sm:gap-0">
                        <div class="item flex-2 pb-5 bg-white md:bg-transparent rounded-lg">
                            <div class="flex flex-col md:flex-row  justify-center items-center bg-secondary pt-3 pb-3 pl-5 pr-5 gap-3 rounded-md text-center">
                                <p class="text-white font-bold text-2xl md:text-2xl">CONSTRUYE TU ESPACIO EN INTERNET</p>
                                <div>
                                    <a href="https://odoo.unificadesign.com.py/r/Jvb" target="_blank" >
                                    <Button type="primary" title="¡Solicita tu propuesta!" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item flex-1 flex flex-col md:flex-row justify-center items-end">
                            <div class="item flex-1 flex  justify-end items-center bg-white md:bg-transparent h-full pb-12">
                                <div class="w-full sm:w-4/5 pr-3">
                                    <div class="flex flex-col gap-3">
                                        <p class="text-2xl font-bold text-secondary text-end uppercase">Transforma tus ideas en soluciones digitales
                                        </p>
                                        <div class="flex md:flex-col flex-row  lg:flex-row gap-2 justify-end ">
                                            <p class="px-2 text-center text-sm bg-secondary text-white font-bold rounded-sm">PRECIO JUSTO 
                                            </p> 
                                            <p class="px-2 text-center text-sm bg-secondary text-white font-bold rounded-sm">ADAPTADOs P/ CEL</p>
                                        </div>
                                        <div class="flex flex-row gap-2 justify-end ">
                                            <p class="px-2 text-sm text-center bg-secondary text-white font-bold rounded-sm">DOMINIO Y HOSTING INCLUIDOS </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item flex-2 flex items-end h-full">
                                <img class="img-background" src="/img/studio_web_section/imagem_2023-06-14_022851612_edited.webp" alt="studio img"/></div>
                            <div class="item flex-1 flex items-center bg-white md:bg-transparent h-full">
                                <div class="w-full sm:w-4/5 pl-3">
                                    <div class="flex flex-col gap-3">
                                        <p class="text-2xl font-bold text-secondary text-start">SOMOS UNA VERDADERA
                                            FÁBRICA DE SITIOS WEB
                                            
                                        </p>
                                        <div class="flex md:flex-col flex-row  lg:flex-row gap-2 justify-start ">
                                            <p class="px-2 text-center text-sm bg-primary text-white font-bold rounded-sm">BLOG 
                                            </p> 
                                            <p class="px-2 text-center text-sm bg-primary text-white font-bold rounded-sm">TIENDAS VIRTUALES</p>
                                        </div>
                                        <div class="flex flex-row gap-2 justify-start ">
                                            <p class="px-2  text-center text-sm bg-primary text-white font-bold rounded-sm">SITIOS INSTITUCIONALES </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</Container>

<style>
    .masked-bg {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='23.999 20.502 152 158.998' viewBox='23.999 20.502 152 158.998' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M33.758 60.174c-17.32 24.757-8.751 62.067 3.819 86.859 7.773 15.332 21.838 35.886 46.141 31.984 5.526-.887 10.586-3.167 16.054-4.271 16.952-3.424 36.019 4.667 51.766-1.53 6.229-2.451 11.013-6.889 14.686-11.707 11.588-15.202 12.988-35.352 3.585-51.58-6.596-11.383-18.021-20.815-22.417-32.896-4.313-11.851-1.286-24.74-4.481-36.828-3.886-14.703-20.471-25.243-37.541-16.56-6.449 3.28-11.975 7.686-19.005 10.185-7.319 2.602-15.435 3.282-22.862 5.674-13.94 4.488-23.516 11.767-29.745 20.67z'/%3E%3C/g%3E%3C/svg%3E%0A");
        mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='23.999 20.502 152 158.998' viewBox='23.999 20.502 152 158.998' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M33.758 60.174c-17.32 24.757-8.751 62.067 3.819 86.859 7.773 15.332 21.838 35.886 46.141 31.984 5.526-.887 10.586-3.167 16.054-4.271 16.952-3.424 36.019 4.667 51.766-1.53 6.229-2.451 11.013-6.889 14.686-11.707 11.588-15.202 12.988-35.352 3.585-51.58-6.596-11.383-18.021-20.815-22.417-32.896-4.313-11.851-1.286-24.74-4.481-36.828-3.886-14.703-20.471-25.243-37.541-16.56-6.449 3.28-11.975 7.686-19.005 10.185-7.319 2.602-15.435 3.282-22.862 5.674-13.94 4.488-23.516 11.767-29.745 20.67z'/%3E%3C/g%3E%3C/svg%3E%0A");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        z-index: 8;
        mask-size: 98% 100%;
    }


    .img-background{
        width: 312px;
        height: 437px;
        object-fit: cover;
    }

    .content-img{
        width: 641px;
        height: 505px;
    }


    @media (max-width: 600px) {
        .masked-bg {
            -webkit-mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='31 31.868 138 138' viewBox='31 31.868 138 138' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M140.413 169.868H31l28.587-138H169l-28.587 138z'/%3E%3C/g%3E%3C/svg%3E%0A");
            mask-image:url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='31 31.868 138 138' viewBox='31 31.868 138 138' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M140.413 169.868H31l28.587-138H169l-28.587 138z'/%3E%3C/g%3E%3C/svg%3E%0A");
            mask-size: 98% 64%;
        }

        .image-container {
            position: relative;
            display: inline-block;
        }

        .image-container img {
            display: block;
            width: 100%;
            height: 100%;
        }


        .image-container::after {
            content: '';
            display: block;
        }

        .img-background{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }


</style>